@model ProyectoLithio.Models.pa_PaisesRetornaID_Result
@{ ViewBag.Title = "Modificar País";
                Layout = "~/Views/Shared/_LayoutCosteo.cshtml"; }

<h2>@ViewBag.Title</h2>
<br />
<form method="post" id="frmPais">
    <label><span class="Obligatorio">* Obligatorio</span></label> <br />
    <div class="form-group">
        <label><span class="Obligatorio">*</span>Nombre</label>
        <input type="text" name="Nombre_Pais" class="form-control" placeholder="Ejemplo:Costa Rica" id="Nombre_Pais" value="@Model.Nombre_Pais" />
    </div>
    <div class="form-group">
        <label><span class="Obligatorio">*</span>Sigla del país</label>
        <input type="text" name="Sigla_Pais" class="form-control" placeholder="Ejemplo:CRC" id="Sigla_Pais" value="@Model.Sigla_Pais" />
    </div>
    <div class="form-group">
        <label><span class="Obligatorio">*</span>Moneda</label>
        <input type="text" name="Moneda_Pais" class="form-control" placeholder="Ejemplo:Colón" id="Moneda_Pais" value="@Model.Moneda_Pais" />
    </div>
    <div class="form-group text-right">
        <input type="submit" value="Modificar" class="btn-success btn" id="btnAgregarPais" />
        <a href="~/Paises/PaisesLista" class="btn btn-info">Regresar a la lista</a>
    </div>

</form>
<br />
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.js"></script>
    <script src="~/Scripts/validacionesGenericas.js"></script>
    <script src="~/Scripts/Paises/validaPais.js"></script>
}