@model ProyectoLithio.Models.pa_RetornaUsuarioCorreoPwd_Select_Result
@{
    ViewBag.Title = "Bienvenida";
    Layout = "~/Views/Shared/_LayoutCosteo.cshtml";
    
}

    <div class="alert alert-success text-center" role="alert">
        <h4>Bienvenido @Html.DisplayFor(model => model.Nombre_Completo)</h4>
    </div>

    <div>
        <div id="clockdate">
            <div class="clockdate-wrapper">
                <div id="clock"></div>
                <div id="date"></div>
            </div>
        </div>
    </div>
    <br />
    <div id="my-carousel" class="carousel slide img-thumbnail push-down-1" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="~/img/slider-aceite1.jpg" />
            </div>

            <div class="item">
                <img src="~/img/slider-aceite2.jpg" />
            </div>

            <div class="item">
                <img src="~/img/slider-aceite3.jpeg" />
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#my-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
@section scripts {
    <script src="~/Scripts/Panel/relojRigital.js"></script>
}
