@model ProyectoLithio.Models.ViewModel.CostosViewModel
@{ ViewBag.Title = "Costeo";
    Layout = "~/Views/Shared/_LayoutCosteo.cshtml";

}
<link rel="Stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<link href="~/Scripts/Costos/validetta.min.css" rel="stylesheet" />
<h1 class="text-center">Cálculo de costeo </h1>
<br>

<form method="post" id="frmCosteo">

    <!--Parte de fechas-->
    <div class="form-group col-md-2">
        <label class="">Fecha</label>
        @DateTime.Now
    </div>
    <div class="form-group col-md-2">
        <label class=""># de Costeo</label>
        <input type="number" name="Numero_Costos" id="Numero_Costos" class="form-control" min="0" data-validetta="required,number">
    </div>
    <div class="form-group col-md-2">
        <label class="">DUA</label>
        <input type="text" name="DUA" id="DUA" class="form-control" data-validetta="required">
    </div>
    <div class="form-group col-md-3">
    </div>
    <div class="form-group col-md-2">
        <label class="">Tipo de cambio(colones)</label>
        <input type="text" name="Tipo_De_Cambio" id="Tipo_De_Cambio" class="form-control" data-validetta="required">
    </div>
    <!--Parte de la busqueda del codigo de articulo-->
    <div class="form-group col-md-3">
        <div><label for="txtCodigoArticuloAgregar">Código de Artículo</label></div>
        <div class="input-group">
            <input type="text" id="txtCodigoArticuloAgregar" name="Codigo_Articulo" class="form-control">
            <span class="input-group-btn">
                <input class="btn btn-primary" type="button" id="AgregarConcepto" value="Agregar">
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="divConceptos">
        <table class="table" id="TablaConceptos">
            <thead>
                <tr>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Código</th>
                    <th scope="col">Articulo</th>
                    <th scope="col">Presentación</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Costo unitario</th>
                    <th scope="col">Costo total</th>
                    <th scope="col">Flete marítimo</th>
                    <th scope="col">Costo Flete</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <th>02904-04-0208</th>
                    <td>Vascomil 22</td>
                    <td>Tubo</td>
                    <td><input type="number" min="0" name="" id="" class="form-control" style="width: 70px;"> </td>
                    <td> &cent; 1500</td>
                    <td> &cent; 150000</td>
                    <td> <input type="checkbox" name="" id=""></td>
                    <td><input type="text" name="" id="" class="form-control" style="width: 70px;"> </td>
                </tr>*@

            </tbody>
        </table>
        @*@<input type="hidden" value="0" name="conceptos.Index" id="conceptos.Index" />
            <input type="hidden" value="02904-04-0208" name="conceptos[0].Codigo_Articulo" id="conceptos[0].Codigo_Articulo" />*@

    </div>

    <input class="btn btn-primary" type="submit" value="Agregar" id="btnAgregarCosteo">
</form>

@section scripts{
    <script src="~/Scripts/Panel/abrirModalVersion.js"></script>
    <script src="~/Scripts/Panel/abrirModalRespaldos.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script>
        $("#Tipo_De_Cambio").maskMoney({ thousands: '', decimal: ',' });
    </script>
    <script src="~/Scripts/Costos/AgregarAutoComplete.js"></script>
    <script src="~/Scripts/Costos/EventosCosteos.js"></script>
    <script src="~/Scripts/Costos/validetta.min.js"></script>
    <script src="~/Scripts/Costos/validettaLang-es-ES.js"></script>
    <script src="~/Scripts/Costos/validaCosteo.js"></script>
}