
@{ ViewBag.Title = "Costeo";
                Layout = "~/Views/Shared/_LayoutCosteo.cshtml"; }

<h2>Costeo</h2>


@section scripts{
    <script src="~/Scripts/Panel/abrirModalVersion.js"></script>
    <script src="~/Scripts/Panel/abrirModalRespaldos.js"></script>
}